.App {
  text-align: center;
}

.header {
  background-color: #14161a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(115, 109, 109);
}

.body{
  min-height: 10vh;
  color: rgb(0, 0, 0);
  display: flex;
  background-color:rgb(205, 226, 245);
}
.fetchlist{
  width: 50vw;
}
.addnew{
  width:50vw;
}